
<div class="fields">
  <!-- Iterate through fields here --> 
  <table>
  <% @entity.fields.each do |field,value|
      next if field =~ /_id|created_at|updated_at|status/ %>
    <tr>
      <td><%= value.name %>:</td>      
      <td>
        <%= if value.name == "text" 
             simple_format "#{eval("@entity.#{value.name}")}" 
            else
              "#{eval("@entity.#{value.name}")}" 
            end
        %>
      </td>
    </tr>
  <% end %>

  <% if @entity.kind_of?(Entities::Image) %>
      <tr><td>Image:</td><td><img src="/images/<%=@entity.local_path.split("/").last%>"/></td><tr>
  <% end %>

  </table>
  <!-- Done iterating through fields --> 
</div>