<table id="entities" class="table table-striped table-bordered" data-source="<%= entities_url(format: "json") %>">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>