<table id="entities" class="display" data-source="<%= entities_url(format: "json") %>">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>