<h1>New entity</h1>

<%= form_tag entities_path do %>
  <%= select_tag "type", options_from_collection_for_select(@entity_types, "to_s", "to_s") %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', entities_path %>
