<div class="fields">
  <!-- Iterate through fields here --> 
  <table>
  <% @setting.fields.each do |key,value|
    next if key =~ /_type|_id|status/ %>
    <tr>
      <td><%= value.name %>:</td>
      <td><%= eval("@setting.#{value.name}")%></td>
    </tr>
  <% end %>
  </table>
  <!-- Done iterating through fields --> 
</div>