<table>
  <tr>
    <th>Name</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <% if project == Tapir::Project.current %>
      <td><b><%= link_to project.name, project_path(project) %></b></td>
    <% else %>
      <td><%= link_to project.name, project_path(project) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br /><br />
<%= link_to 'New Project', new_project_path %>
