/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables
 *= require dataTables/src/demo_table_jui
 *= require dataTables/extras/TableTools
 *= require dataTables/extras/TableTools_JUI
 *= require_tree .
*/  

@import "bootstrap";

/* compensate the overlap caused by bootstrap top navigation, min. 40px at the top! */
body { 
	background: url('/textures/retina_dust/retina_dust.png') repeat ;
  padding: 60px 10px 10px 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

.navbar-inner {
	background: url('/textures/use_your_illusion/use_your_illusion.png') repeat ;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}