<table>
  <tr>
    <th>Report Name</th>
  </tr>

<% @report_templates.each do |report_template| %>
  <tr>
    <td><%= link_to report_template.pretty_name, report_template  %></td>
  </tr>
<% end %>
</table>

<br />
