<ul class="nav">
  <% if user_signed_in? %>
<<<<<<< Updated upstream
    <li>
       Edit user 
    </li>
=======
>>>>>>> Stashed changes
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% end %>
</ul>